@tailwind base;

[x-cloak] {
  display: none;
}

@tailwind components;
@tailwind utilities;

.ck-content {
  @apply prose prose-blue text-gray-500 max-w-none;
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline-block;
}
.htmx-request.htmx-indicator {
  display: inline-block;
}
